@font-face {
  /* HelveticaNeue Roman 55 */
  font-family: 'HelveticaR';
  src: url('fonts/HelveticaNeue-Roman.ttf');
  font-weight: 600;
}
@font-face {
  /* HelveticaNeue Bold */
  font-family: 'HelveticaB';
  src: url('fonts/HelveticaNeue-Bold.ttf');
  font-weight: 700;
}
@font-face {
  /* HelveticaNeue Black */
  font-family: 'HelveticaBl';
  src: url('fonts/HelveticaNeue-Black.ttf');
  font-weight: 900;
}
