@font-face {
  /* HelveticaNeue Roman 55 */
  font-family: 'HelveticaR';
  src: url('fonts/HelveticaNeue-Roman.otf');
  font-weight: 400;
}
@font-face {
  /* HelveticaNeue Bold */
  font-family: 'HelveticaB';
  src: url('fonts/HelveticaNeue-Bold.ttf');
  font-weight: 700;
}
@font-face {
  /* HelveticaNeue Black */
  font-family: 'HelveticaBl';
  src: url('fonts/HelveticaNeue-BlackCond.otf');
  font-weight: 900;
}
