.modal-half-group__item {
  display: flex;
  width: 100%;
  height: 50px;
  border: 2px solid var(--transparentGrey);
  border-radius: 5px;
  cursor: pointer;
  transition: var(--tran2);
}
.modal-half-group__item.--error {
  border: 2px solid red;
}
.modal-half-group__item input {
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
  text-indent: 15px;
  font-family: HelveticaNeueR;
  font-weight: 400;
  font-size: 18px;
  color: var(--whiteGrey);
}
.modal-half-group__item input::first-letter {
  text-transform: uppercase;
}

.modal-half-group__item input::placeholder {
  font-family: HelveticaNeueR;
  font-weight: 400;
  font-size: 18px;
  color: var(--transparentGrey);
}
