.navbar {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.item {
  font-family: HelveticaB;
  font-size: 16px;
}
.link {
  font: inherit;
  color: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  line-height: inherit;
  text-shadow: inherit;
}
