@media screen and (min-width: 601px) {
  .itemFooter {
    li:nth-child(1) {
      width: auto;
    }
  }
}
@media screen and (min-width: 769px) {
}
@media screen and (min-width: 901px) {
  .group {
    flex-flow: nowrap row;
    gap: 30px;
  }
  .itemFooter {
    flex-wrap: wrap;
    li {
      max-height: 80px;
      width: calc(50% - 30px);
      img {
        height: 100%;
      }
      &:nth-child(1) {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 1025px) {
  .itemHead {
    img {
      width: 65px;
      height: 65px;
    }
  }
}
@media screen and (min-width: 1281px) {
}
@media screen and (min-width: 1441px) {
}
@media screen and (min-width: 1537px) {
}
