.container{
  scroll-margin-top: var(--header-height) + 50px;
}
.social {
  scale: 1;
}
.group {
  margin-top: var(--modules-content-margin);
  display: flex;
  flex-flow: wrap column;
  row-gap: 30px;
}
.item {
  display: flex;
  flex-flow: wrap column;
  width: 100%;
  .content {
    flex-grow: 1;
    display: flex;
    flex-flow: wrap column;
    h4 {
      margin: 0 0 20px 0;
      font-family: HelveticaR;
      font-size: var(--fsize-second);
      color: var(--grey-light-transparent);
    }
    h2 {
      font-family: HelveticaR;
      font-size: var(--fsize-second);
      color: var(--white);
      line-height: 25px;
    }
    h3 {
      display: flex;
      align-items: flex-end;
      flex-grow: 1;
      margin: 20px 0 0 0;
      font-family: HelveticaR;
      font-size: var(--fsize-second);
      color: var(--green);
    }
  }
}
.twitter {
}
.instagram {
  .content {
    display: flex;
    flex-flow: wrap;
    flex-grow: 1;
    padding: 0;
    .contentItem {
      width: calc(100% / 3);
      height: calc(100% / 2);
      cursor: pointer;
      overflow: hidden;
      background-color: black;
      img {
        width: 100%;
        transition: 0.3s ease;
        object-fit: cover;
        min-height: 155px;
        height: 100%;
      }
      &:hover {
        img {
          opacity: 0.8;
          scale: 1.03;
        }
      }
    }
  }
}
.facebook {
}
.content {
}
.contentItem {
}
