.about {
  background-color: var(--grey-dark);
  padding-top: 105px;
  padding-bottom: 90px;
}
.title {
}
.subtitle {
  font-family: HelveticaR;
  font-size: 14px;
  line-height: 25px;
  color: var(--white);
  margin: 70px 0 50px 0;
  text-align: center;
}

.slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.sliderItem {
  img {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }
}
.sliderBtn {
  position: absolute;
  top: 50%;
  z-index: 3;
  img {
    width: 16px;
    height: 16px;
  }
}
.sliderBtnPrev {
  left: 0;
  translate: -50% -50%;
}
.sliderBtnNext {
  right: 0;
  translate: 50% -50%;
  rotate: 180deg;
}
