.container {
  width: 100%;
  position: fixed;
  top: 100%;
  left: 0;
  backdrop-filter: blur(20px);
  z-index: 6;
  height: 100%;
  overflow: auto;
  transition: 0.5s ease;
  will-change: left, top;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--grey-accent);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 5px;
  }
}
.activeModal {
  top: 0;
}
.completeModal {
  left: -100%;
}
.contentWrapper {
  flex-grow: 1;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  row-gap: 20px;
}
.modal {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-flow: wrap column;
  min-height: 100%;
  row-gap: 20px;
}
.closeBtn {
  position: sticky;
  right: 20px;
  align-self: flex-end;
  top: 40px;
  width: 30px;
  height: 30px;
  img {
    transition: 0.3s ease scale;
  }
  &:hover {
    img {
      scale: -1 1;
    }
  }
}
.title {
  font-family: HelveticaR;
  font-size: 32px;
  color: var(--white);
}
