.social-group-item__images {
  display: flex;
  flex-flow: wrap;
}
.social-group-item-images__image {
  display: flex;
  width: calc(100% / 3);
  height: calc(100% / 2);
  overflow: hidden;
}
.social-group-item-images__image img {
  height: 100%;
  transition: var(--tran2);
  cursor: pointer;
}

.social-group-item-images__image:hover img {
  opacity: 0.6;
  transform: scale(1.1);
}
