.head-block__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  flex-flow: wrap;
  min-height: 90px;
}
.head-header__btn.--burgerMenuBtn {
  display: none;
}
.head-header {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  backdrop-filter: blur(10px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}
