.container{
  scroll-margin-top: var(--header-height) + 50px;
}
.dishes {
  scale: 1;
}
.group {
  display: flex;
  flex-flow: wrap column;
  row-gap: 30px;
  margin-top: var(--modules-content-margin);
}
.moreBtn {
  margin: 20px 0 0 0;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--white);
  color: var(--white);
  font-family: HelveticaR;
  font-size: var(--fsize-third);
  &:hover {
    scale: 1.1;
    color: var(--green);
    text-decoration-color: var(--green);
  }
}
.loader {
  margin: 60px auto 40px auto;
}
