.comp-text-1 {
  font-family: HelveticaNeueR;
  font-weight: 400;
  font-size: 16px;
  line-height: inherit;
  text-align: inherit;
  color: inherit;
}
.comp-text-2 {
  font-family: HelveticaNeueR;
  font-weight: 400;
  font-size: 16px;
  line-height: inherit;
  text-align: inherit;
  color: inherit;
}
.comp-text-3 {
  font-family: HelveticaNeueB;
  font-weight: 700;
  font-size: 16px;
  line-height: inherit;
  text-align: inherit;
  color: inherit;
}
