@media screen and (min-width: 0) {
}
@media screen and (min-width: 361px) {
}
@media screen and (min-width: 421px) {
  .App {
    --fsize-main: 16px;
    --fsize-second: 18px;
    --fsize-third: 20px;
  }
}
@media screen and (min-width: 481px) {
}
@media screen and (min-width: 601px) {
  .App {
    --fsize-main: 17px;
    --fsize-second: 18px;

    --fsize-title-main: 28px;
    --fsize-title-back-huge: 100px;
    --fsize-title-back-big: 90px;
    --fsize-title-back-medium: 80px;
    --fsize-title-back-small: 75px;
  }
}
@media screen and (min-width: 769px) {
}
@media screen and (min-width: 901px) {
  .App {
    --header-height: 100px;

    --fsize-main: 16px;
    --fsize-third: 18px;
  }
}
@media screen and (min-width: 1025px) {
  .App {
    --modules-content-margin: 120px;

    --fsize-main: 17px;
    --fsize-third: 20px;

    --fsize-title-main: 40px;
    --fsize-title-back-huge: 130px;
    --fsize-title-back-big: 120px;
    --fsize-title-back-medium: 110px;
    --fsize-title-back-small: 105px;
  }
}
@media screen and (min-width: 1281px) {
}
@media screen and (min-width: 1441px) {
}
@media screen and (min-width: 1537px) {
}
