.form {
  display: flex;
  flex-flow: wrap column;
  row-gap: 20px;
  input {
    border-radius: 12px;
  }
}
.dropdown {
  border-radius: 12px;
  width: 100%;
}
.btnSubmit {
  width: 100%;
  border-radius: 12px;
  height: 55px;
  font-family: HelveticaB;
  font-size: 20px;
  letter-spacing: 0;
  &:hover {
    scale: 1.05;
  }
}
