.title {
  position: relative;
  text-align: center;
}
.mainTitle {
  font-size: var(--fsize-title-main);
  font-family: HelveticaR;
  color: var(--white);
  z-index: 3;
  position: relative;
  text-transform: capitalize;
}

.backTitle {
  letter-spacing: 5px;
  color: var(--grey);
  font-family: HelveticaBl;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
  text-transform: uppercase;
  &::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: var(--green);
    bottom: -10px;
    left: 50%;
    translate: -50% 0;
  }
}
.backTitle-huge {
  font-size: var(--fsize-title-back-huge);
}
.backTitle-big {
  font-size: var(--fsize-title-back-big);
}
.backTitle-medium {
  font-size: var(--fsize-title-back-medium);
}
.backTitle-small {
  font-size: var(--fsize-title-back-small);
}
